.random {
    display: flex;
    width: 100vw;
    flex-direction: column;
}

.random__movie {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.random__movie__info {
    max-width: 300px;
}

.random__title,
.random__summary {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}

.random img {
    max-width: 25vw;
    max-height: 70vh;
    box-shadow: 0px 1px 3px #000000;
}

.random__movie__backdrop {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    opacity: 0.3;
}

.random__movie__info,
.random__movie__poster {
    margin: 1em;
}

.random__reroll {
    align-self: flex-end;
}