@import "_theme";
@import "@material/button/_mixins";

.movie-details {
    .movie-poster {
        margin: 3em auto;
        height: 55vh;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
    }

    &__info {
        max-width: 80ch;
        margin: auto;
    }

    &__meta-data {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 0.5em;
        color: lighten($color: $mdc-theme-primary, $amount: 20%);
    }

    &__meta-data-item + &__meta-data-item {
        margin-left: 2ch;
    }

    &__meta-data-item--movie-rating {
        flex: 1;
        max-width: 30ch;
    }

    &__description {
        white-space: pre-line;
    }

    &__actions {
        margin-top: 0.5em;
        display: flex;
        flex-direction: row;

        .mdc-button {
            @include mdc-button--compact_;
            @include mdc-button--dense_;
        }
    }
}