@import "@material/button/_mixins";

.random-page {
    .roll-history,
    .movie-details__info,
    &__credits {
        max-width: 80ch;
        margin: 2em auto;
        padding: 0 1em;
    }
}

/* Make buttons more compact on small screen devices */
@media (max-width: 600px) {
    .random-page .menu .mdc-button {
        @include mdc-button--compact_;
        @include mdc-button--dense_;
    }
}