.menu {
    display: flex;
}

.menu.-horizontal {
    flex-direction: row;
    align-items: center;
}
.menu.-horizontal > * {
    margin: 0em 0.5em;
}    

.menu.-vertical {
    flex-direction: column;
}
.menu.-vertical > * {
    margin: 0.5em 0em;    
}