.popovermenu {
    position: relative;
    cursor: pointer;
}

.popovermenu > .popovermenu__inner {
    padding-top: 1px;
    position: absolute;
    z-index: 1000;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 3px 4px #000000;
    border: 1px solid #b9b9b9;
}

.popovermenu > .popovermenu__inner::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: -4px;
    right: 10px;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #ffffff;
}

.popovermenu > .popovermenu__inner::after {
    content: "";
    position: absolute;
    top: -5px;
    right: 10px;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #b9b9b9;
}

.popovermenu.-bottom-left > .popovermenu__inner {
    top: 100%;
    right: 100%;
    margin-top: 5px;
}

.popovermenu.-bottom-right > .popovermenu__inner {
    top: 100%;
    right: 0%;
    margin-top: 5px;
}

.popovermenu .btn {
    margin: 0;
    width: 100%;
    border: 0;
    background: inherit !important;
}

.popovermenu .btn:hover {
    background: #f0f0f0 !important;
}

